<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button (click)="onLoadNewPlace()"  ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      My Note
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <!--<ion-list >
    <ion-item *ngFor="let place of places  let i = index "  [attr.data-index]="i">
      
        <ion-item (click)="onOpenPlace(place, i)">
          <h2>{{place.title }}</h2>
        </ion-item>
      
      
      <ion-item-options side="right">
        <button  ion-button color="danger" (click)="Remove(i)" ><ion-icon name="trash" ></ion-icon></button>
      </ion-item-options>
        
    </ion-item>
  </ion-list>-->

    <ion-card *ngFor="let place of places  let i = index "  [attr.data-index]="i">
      <ion-card-content (click)="onOpenPlace(place, i)">
        <h1>{{place.title }}</h1>
      </ion-card-content>
    </ion-card>


  <ion-fab id="add">
      <button (click)="onLoadNewPlace()" ion-fab color="primary">+</button>
  </ion-fab>
</ion-content>
