page-home {

    #add{
        bottom: 100px;
        right: 31px;
    }

    ion-list {
      display: flex;
      flex-direction: column-reverse;
    }
    ion-item-sliding {
        flex: 0 0 auto;
        border-bottom: none;
    }

    .list-md .item-block .item-inner, ios > .item-wrapper:last-child .item-block{
        border: none;
    }

    .list-md .item-block .item-inner, ios > .item-wrapper:last-child .item-block {
        border: none;
    }
    
}
